<!--
  zachary dobbs
  2018
-->
<!DOCTYPE html>
<html>
  <head>
    <title>outside</title>
    <meta charset="utf-8">
    <!-- stylesheet imports -->
    <!-- include the material icons -->
    <!-- TODO replace with a local installation -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- custom styles and materialize-css -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <!-- header info -->
    <header>
      <!-- logo -->
      <div class="row logo-bar">
        <div class="col s12">
          <div class="icon-img">
            <img src="static/img/deer.gif" alt="logo">
          </div>
        </div>
      </div>
      <!-- navbar for desktop -->
      <!-- <nav class="hide-on-small-only"> -->
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">the outdoors</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link3</a></li>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <li><a href="#">MobileLink1</a></li>
            <li><a href="#">MobileLink2</a></li>
            <li><a href="#">MobileLink3</a></li>
          </ul>
        </div>
      </nav>
      <!-- navbar for mobile -->
      <!-- <nav class="hide-on-med-and-up">
        <p>mobile</p>
      </nav> -->
    </header>

    <!-- main info -->
    <main id="app">
      <!-- carousel on landing -->
      <div class="carousel carousel-slider" data-indicators="true">
        <div id="cabin" class="carousel-item" href="#one!">
          <img class="responsive-img" src="static/img/cabin.jpg" alt="cabin">
          <h3 class="carousel-text left-align">welcome to the outdoors!</h3>
          <p class="carousel-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Ut in bibendum eros. Maecenas urna justo, viverra id nunc sit amet, facilisis eleifend neque.
             Duis laoreet, tortor interdum finibus semper, nunc metus molestie risus, sit amet mollis lacus
             mi et lectus. Sed rhoncus, leo a ornare egestas, enim mauris semper eros, eget congue mauris
             arcu lobortis sapien. Nullam ut mattis massa. Integer euismod, odio non aliquam ullamcorper,
             risus metus faucibus quam</p>
          <!-- FIXME disappears after being clicked - but only on chrome? -->
          <a href="#"><button class="btn carousel-button">action 1</button></a>
        </div>
        <div id="goat" class="carousel-item" href="#two!">
          <img src="static/img/deer.jpg" alt="deer">
          <h3 class="carousel-text">get lost</h3>
          <p class="carousel-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Ut in bibendum eros. Maecenas urna justo, viverra id nunc sit amet, facilisis eleifend neque.
            Duis laoreet, tortor interdum finibus semper, nunc metus molestie risus, sit amet mollis
           lacus mi et lectus. Sed rhoncus, leo a ornare egestas,</p>
        </div>
      </div>
      <!-- other information -->
      <div class="container">
        <div class="row">
          <div id="info1" class="col s12 info-row">
            <div class="col s12 m4">
              <h4>{{ message }}</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in bibendum eros.
                 Maecenas urna justo, viverra id nunc sit amet, facilisis eleifend neque. Duis laoreet</p>
              <p>even more sample text. blah blah blah blah blah blah. I need more energy drinks.</p>
              <p>Want to get in contact with us? <a href="mailto:guy@mail.com">send an email</a></p>
            </div>
            <div class="col s12 m4 button-box">
              <!-- <img class="responsive-img" src="static/img/fish.png" alt="fish"> -->
              <a href="#info1"><button class="btn">action 1</button></a>
              <a href="#info1"><button class="btn">action 2</button></a>
              <a href="#info1"><button class="btn">action 3</button></a>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-content">
                  <h4>where i'm going</h4>
                  <p>not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum
                  not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum
                  not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum not lorem ipsum</p>
                  <div class="card-action">
                    <a href="#info1">Link1</a>
                    <a href="#info1">Link2</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <!-- footer info -->
    <footer>
      <div class="row footer-content">
        <div class="col s4">
          <h4>FOOTER INFO</h4>
        </div>
      <div>
    </footer>
  </body>

  <!-- javascript imports -->
  <!-- jquery -->
  <script src="jquery/dist/jquery.min.js"></script>
  <!-- materialize -->
  <script src="materialize-css/dist/js/materialize.min.js"></script>
  <!-- vuejs -->
  <script src="vue/dist/vue.min.js"></script>
  <!-- custom controller -->
  <script src="static/js/controller.js"></script>
</html>
